/* Styles for small screens (e.g., 1024x768) */

body {
  font-size: 14px;
}

.team-name {
  font-size: 24px;
}

.score {
  font-size: 48px;
}

.shots {
  font-size: 24px;
}

.clock-display {
  font-size: 48px;
}

.period-display {
  font-size: 24px;
}

.btn {
  font-size: 14px;
  padding: 6px 12px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}