# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ids
*.ipr
atlassian-ide-plugin.xml

# Mac
.DS_Store

# Maven
logs/
target/

#Gradle
build/
.gradle/

#vi
*.swp

# put stuff you don't want checked in here
local/

/out/
/src/main/dist/scoreboard.properties
